{% extends "../base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/cv.css" />
{% endblock %}

{% block content %}
<header class="b-cv-header">
    <h1>Curriculum Vitae</h1>
</header>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        Education
    </h1>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">Queensland University of Technology</h2>
            <p class="b-cv-class__achievement-subname">Bachelor of Engineering</p>
            <p class="b-cv-class__achievement-time">2015 - Present</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Majoring in Mechatronics, with minors in Robotics and Languages.</li>
                <li>Maintained a GPA of 6.6 throughout 2 years.</li>
                <li>Two Dean's awards for semester performance.</li>
                <li>Software Development, Mechatronic Design, Electrical Design, Engineering Mathematics, Statics and Dynamics (Mechanical Analysis)</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">QASMT</h2>
            <p class="b-cv-class__achievement-subname">International Baccaleaureate Diploma</p>
            <p class="b-cv-class__achievement-time">2013 - 2015</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Academically selective High School.</li>
                <li>Completed the IB Diploma with a score of 42 out of 45 (equivalent to ATAR 99.7 out of 100).</li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">Achievements</h1>
    <article class="b-cv-class__achievement">
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Participated in 2017 Unearthed Hackathon: Winner of the People's Choice Prize.</li>
                <li>Participated in 2016 Tanda Hackathon.</li>
                <li>Bronze Award in 2015 Australian Informatics Olympiad</li>
                <li>Selected in High School to attend the 2013 Supercomputing conference in Denver, Colorado (SC13).</li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        Compentencies
    </h1>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">Computing Skills</h2>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Confidence in OOP Languages: Python, Java, C# (.NET), C++</li>
                <li>Proficiency in Web Development: JavaScript (ECMAScript7), PHP, Flask, Django, NODE.js</li>
                <li>Proficiency in MySQL and Microsoft SQL Server</li>
                <li>Working Knowledge of 3D graphics: OpenGL and Unity3D</li>
                <li>Keen Interest in Embedded Devlopment: Atmel AVR (C and Assembler), STM32 Series</li>
                <li>Personal Project Experience: Machine Learning (SKLearn), Deep Learning (Tensorflow, Torch, XGBoost), Computer Vision (OpenCV)</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">Engineering Skills</h2>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Proficient in Circuit Design using EAGLE and Altium suites.</li>
                <li>Knowledge of 3D design, and FDM modelling.</li>
                <li>Proficient in CAD using AutoDesk suite (Inventor, Fusion360)</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <heade class="b-achievement-header"r>
            <h2 class="b-cv-class__achievement-name">Other Skills</h2>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Essential First Aid Certificate (First Aid Queensland).</li>
                <li>Native English speaker with fluency in Hindi</li>
                <li>
                    Proficient in conversational and intermediate business Japanese 
                    (<a href="http://www.jlpt.jp/e/about/levelsummary.html">JLPT N3</a>).
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        Employment
    </h1>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a href="https://www.credfin.com.au/">Jacaranda Finance (CredFin Service)</a>
            </h2>
            <p class="b-cv-class__achievement-subname">Backend Developer</p>
            <p class="b-cv-class__achievement-time">Mid 2017 - Present</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Built web scraping engines for retrieving transaction data from clients' bank accounts. Uses PhantomJS.</li>
                <li>Built backend for transaction categorisation. Uses Django, Numpy and other technolgies.</li>
                <li>
                    Designed system for load tolerance. Through use of containerisation (Docker), load balancing,
                    message queues (RabbitMQ) and stateless workers.
                </li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a href="https://qasmt.eq.edu.au">Education Queensland (QASMT)</a>
            </h2>
            <p class="b-cv-class__achievement-subname">Physics Tutor</p>
            <p class="b-cv-class__achievement-time">2016</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Involved setting out mini lessons, and assisting Grade 12 students with understanding Higher Level Physics concepts.</li>
                <li>Occasionally tutored maths, english and other subjects on request.</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a href="http://1010tutoring.com/">10/10 Tutoring</a>
            </h2>
            <p class="b-cv-class__achievement-subname">IPT / Mathematics Tutor</p>
            <p class="b-cv-class__achievement-time">2016 - 2017</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Tutored High school students in IPT (Object Oriented Programming, Databases and Web Devlopment) and Mathematics C level.</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a href="https://dominos.com.au">Domino's Pizza</a>
            </h2>
            <p class="b-cv-class__achievement-subname">Delivery Driver and Front Desk</p>
            <p class="b-cv-class__achievement-time">2016 - 2017</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>Customer facing role.</li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        Personal Interests and Experiences
    </h1>
    <article class="b-cv-class__achievement">
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>
                    I enjoy learning languages, and have self-taught myself Japanese since 2016. 
                    I am always astounded by the array of different syntaxes and methods which can be used to express a single idea in different languages. 
                </li>
                <li>
                    I like researching control systems. Particularly, I am interested in the power electronics and
                    software necessary for efficient control of large actuators, such as the BLDC motors used within the Toyota Prius. 
                </li>
                <li>
                    I have an adept knowledge of automotive mechanics, and interest in automotive electronics and automation.
                </li>
                <li>
                    I have enjoyed an accelerated learning level: completed equivalent first-year university courses during high school,
                    and consequently had advanced standing at university.
                </li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}