{% extends "../base.html" %}
{% load tz %}

{% block content %}
<article class="b-blog-post">
    <header class="b-blog-post__header">
        <h1>{{post.title}}</h1>
        <p class="b-blog-post__datetime">{{post.datetime |localtime}}</p>
        <p class="b-blog-post__tags">
            Tags: 
            {% for tag in post.tag_list %}
            <a>
                <a href="{% url 'blog-tag-list' tag %}">{{tag}}</a>
            </a> 
            {%endfor%}
        </p>
    </header>
    <div class="b-blog-post__content">
        {{ post.html | safe }}
    </div>
</article>

{% endblock %}