<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Shravocado</title>
    <meta name="description" content="">
    <meta name="author" content="Shravan Lal">

    <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bitter:400i|Crete+Round:400i|PT+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- CSS
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/lib/skeleton-css/css/normalize.css">
    <link rel="stylesheet" href="/static/lib/skeleton-css/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- Favicon
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    {% block head %}{% endblock %}

</head>

<body>

    <!-- Primary Page Layout
              –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container">.
        <header class="row b-banner">
            <img class="b-banner__img" src="static/img/shravocado_small.png" alt="Logo: my face on an avocado for some reason." title="My face on an avocado for some reason." />
            <div class="b-banner__title-nav-box">
                <div class="b-banner__title-box">
                    <h1 class="b-banner__title">
                        <a href="/" class="b-banner__title-link">Shravocado</a> 
                    </h1>
                    <small class="b-banner__subtitle">
                        Shravan Lal's <strong>avocado-less</strong> website.
                    </small>
                    <a href="/jp/">日本語へ</a>
                </div>
                <nav class="b-banner__nav">
                    <div class="b-banner__nav-group b-banner__nav-group--left">
                        <a href="/links" class="b-banner__nav-link b-banner__nav-link--sep">Links</a>
                        <a href="/projects" class="b-banner__nav-link b-banner__nav-link--sep">Projects</a>
                    </div>
                    <div class="b-banner__nav-group b-banner__nav-group--right">
                        <a href="/cv" class="b-banner__nav-link b-banner__nav-link--sep">CV</a>
                        <a href="/blog"  class="b-banner__nav-link">Blog</a>
                    </div>
                </nav>
            </div>
        </header>
        <div class="row">
            {% block content %}
            <pre>Under construction m8</pre>
            {% endblock %}
        </div>
    </div>

    {% block scripts %}
    {% endblock %}
    <!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>