{% extends "../base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/cv.css" />
{% endblock %}

{% block content %}
<header class="b-cv-header">
    <h1>履歴書</h1>
</header>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        個人情報
    </h1>
    <article class="b-cv-class__achievement">
        <div class="b-cv-class__achievement-body">
            <p>名前：シラバン　ラール</p>
            <p></p>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        学歴
    </h1>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">Queensland University of Technology</h2>
            <p class="b-cv-class__achievement-subname">工学　（エンジニアリング）</p>
            <p class="b-cv-class__achievement-time">2015年～現在</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>専攻：メカトロニクス</li>
                <li>副専攻：語学、ロボティクス</li>
                <li>二年間の学習にかけて平均の成績：6.6点（7点満点）</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">QASMT (高等学校)</h2>
            <p class="b-cv-class__achievement-subname">国際バカロレア</p>
            <p class="b-cv-class__achievement-time">2013年～2015年</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>IB42の成績で卒業。世界中卒業者の中最高の１％。</li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">実績</h1>
    <article class="b-cv-class__achievement">
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>2017年の「Unearthed Hackathon」に参加。人気なプロジェクトを受賞。</li>
                <li>2016年の「Tanda Hackathon」に参加。</li>
                <li>2015年の「Australian Informatics Olympiad」のブロンズアワードを受賞。</li>
                <li>2013年のデンバーで行われたスーパコンピュータ会議（SC13)に学校の代表として参加。</li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        能力
    </h1>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">開発</h2>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>オブジェクト指向言語: Python, Java, C# (.NET), C++</li>
                <li>ウェッブ開発: JavaScript (ECMAScript7), PHP, Flask, Django, NODE.js</li>
                <li>「MySQL」と「Microsoft SQL Server」の知識</li>
                <li>三次元のCGテクノロジー：「OpenGL」と「Unity3D」</li>
                <li>組み込みシステムの関心、とうに「Atmel AVR」と「STM32 Series」というマイクロコントローラー。</li>
                <li>その他の経験：機械学習 (SKLearn), 深層学習(Tensorflow, Torch, XGBoost), コンピュータビジョン　(OpenCV)</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">デザイン</h2>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>「EAGLE」と「Altium」での回路設計</li>
                <li>3D デザイン・プリント</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <heade class="b-achievement-header"r>
            <h2 class="b-cv-class__achievement-name">資格</h2>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>心肺蘇生法と応急処置のトレーニング証明 (First Aid Queensland).</li>
                <li>英語：ネイティブ</li>
                <li>
                    日本語：<a href="http://www.jlpt.jp/about/levelsummary.html">日本語能力試験 N3</a>　合格。日常会話程度の会話が可能。
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        職歴
    </h1>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a class="b-cv-class__achievement-name-link" href="https://www.credfin.com.au/">Jacaranda Finance (CredFin Service)</a>
            </h2>
            <p class="b-cv-class__achievement-subname">バックエンド開発</p>
            <p class="b-cv-class__achievement-time">2017年8月～現在</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>金融会社向け銀行のサイトから個人情報、トランザクション情報集められるウェッブスクレーパシステムを「PhantomJS」で開発しています。</li>
                <li>集めたトランザクションを適切な分類に分けるシステムを「Django」と「NumPy」と機械学習による作成・維持しています。</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a class="b-cv-class__achievement-name-link" href="https://qasmt.eq.edu.au">Education Queensland (QASMT)</a>
            </h2>
            <p class="b-cv-class__achievement-subname">高校三年生の物理チューター</p>
            <p class="b-cv-class__achievement-time">2016年</p>
        </header>
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>授業の用意と、生徒の質疑応答。英語、数学、他の科目も講義、質問応答。</li>
            </ul>
        </div>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a class="b-cv-class__achievement-name-link" href="http://1010tutoring.com/">10/10 Tutoring</a>
            </h2>
            <p class="b-cv-class__achievement-subname">数学、ITのチューター</p>
            <p class="b-cv-class__achievement-time">2016年～2017年</p>
        </header>
    </article>
    <article class="b-cv-class__achievement">
        <header class="b-achievement-header">
            <h2 class="b-cv-class__achievement-name">
                <a class="b-cv-class__achievement-name-link" href="https://dominos.com.au">ドミノピザ</a>
            </h2>
            <p class="b-cv-class__achievement-subname">接客と車送達</p>
            <p class="b-cv-class__achievement-time">2016年～2017年</p>
        </header>
    </article>
</section>
<section class="b-cv-class">
    <h1 class="b-cv-class__name">
        趣味と希望
    </h1>
    <article class="b-cv-class__achievement">
        <div class="b-cv-class__achievement-body">
            <ul>
                <li>
                    私は2016年から独学により日本語の学習を始めました。日本語学習を進める中で、一つのことを示すのに、さまざまな表現方法があることに驚いています。
                </li>
                <li>
                    私は現在、コントロール制御システムを学習しています。特にトヨタのプリウスに使われているBLDCのような機械や電子回路を構成する大型のアクチュエータの、効率的制御に必要なpower electronicsとソフトウェアに興味があります。
                    同時に、自動化における知識があり電気自動車と自動化にも興味があります。
                </li>
                <li>
                    高校時代には飛び級制度を利用し、高校卒業までに大学1年次の授業を終了していました。
                </li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}