.b-banner {
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

.b-banner__img {
    height: 10em;
}

.b-banner__title-box {
    background-color: rgba(255,255,255,0.5);
    padding: 0;
}

.b-banner__subtitle {
    font-family: 'Lora', serif;
    font-size: 10pt;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0;
}

.b-banner__title {
    line-height: 80%;
    margin: 0;
    padding: 0;
    font-size: 32pt;
    display: block;
    font-family: 'Crete Round', serif;
    font-style: italic;
    text-shadow: -2px -1px 0.5px #EEE;
    font-weight: 400;
}

.b-banner__title-link, .b-banner__title-link:hover {
    color: #333;
    text-decoration: none;
}

.b-banner__nav {
    margin-top: 0.5em;
    padding: 0.5em 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    display: block;
}

.b-banner__nav-group {
    display: inline;
}

.b-banner__nav-link {
    display: inline;
    padding: 0 0.1em;
    text-decoration: none;
}

.b-banner__nav-link--sep:after {
    content: " 🥑 ";
    font-family: emoji;
    font-size: 80%;
}

@media (min-width: 400px) {
    .b-banner__title {
        font-size: 48pt;
    }

    .b-banner__subtitle {
        font-size: 18pt;
    }
}


@media (min-width: 850px) {
    .b-banner {
        margin-bottom: -8em;
    }

    .b-banner__title-nav-box {
        display: block;
        text-align: center;
        position: relative;
        bottom: 17em;
    }

    .b-banner__title-box {
        background-color: rgba(255,255,255,0.5);
        padding: 1em 0;
    }

    .b-banner__subtitle {
        font-family: 'Lora', serif;
        font-size: 20pt;
        font-style: italic;
        display: block;
        margin: 0;
        padding: 0;
    }

    .b-banner__title {
        line-height: 80%;
        margin: 0;
        padding: 0;
        display: block;
        font-family: 'Crete Round', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 60pt;
        color: #333;
        text-shadow: -2px -1px 0.5px #EEE;
    }

    .b-banner__nav:before {
        content: "";
        border-top: 1px dashed black;
        z-index: -2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .b-banner__nav {
        /* z-index: -2;
        border-top: 1px dashed black;
        border-bottom: none; */
        border: none;
        margin-top: 0em;
        padding: 1em 0;
        position: relative;
        text-align: center;
    }

    .b-banner__nav-link {
        font-size: 12pt;
    }

    .b-banner__nav-group {
        position: absolute;
        z-index: 0;
    }

    .b-banner__nav-group--left {
        right: 50%;
        margin-right: 130px;
        text-align: right;
    }

    .b-banner__nav-group--right {
        text-align: left;
        margin-left: 160px;
        left: 50%;
    }

    .b-banner__img {
        height: 30em;
        z-index: -1;
    }
    
    .b-banner__nav-link--sep:last-child:after {
        content: none;
    }

}

/* https://gist.github.com/mfornos/9991865 watta ledge */

@font-face {
    font-family: emoji;
    
    /* Fonts for text outside emoji blocks */
    src: local('Droid Sans Mono'),
         local('Lucida Console'),
         local('Arial Monospaced'),
         local(Arial);
  }
  
  @font-face {
    font-family: emoji;
  
    src: local('Apple Color Emoji'),
         local('Android Emoji'),
         local('Segoe UI'),
         local(EmojiSymbols),
         local(Symbola),
         url('font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
         url('font/Symbola-Emoji.woff') format('woff'),
         url('font/Symbola-Emoji.ttf') format('truetype');
  
    /* Emoji unicode blocks */
    unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
  }